// colors
$Primary: #18A0FB;
$Default: #000000;
$Hover:  #B5995A;
$Wrapper: #FFFFFF;


// width
$container: 1230px;
$max-width: 1440px;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
$font: 'Montserrat', sans-serif;