html {
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-size: 24px;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: hidden;
}
button {
    background-color: none;
    border: none;
}
*,
*:hover,
*::before,
*::after,
input,
form {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: transparent !important;
    margin: 0;
    padding: 0;
}