// _reset.scss
@import "reset";

// _slick.scss
@import "slick";

// _default.scss
@import "default";

////////////////////////////////////
// style.scss
html {
    font-family: $font;
    color: $Default;
}
body {
    margin: 0;
    padding: 0;
}
.header {
    width: 100%;
    padding: 28px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        transition: all 0.3s;
        &:hover {
            opacity: 0.7;
        }
    }
}
.container {
    max-width: $container;
    padding: 0 6px;
    margin: 0 auto;
    position: relative;
}
.menu {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.015em;
    .menu__list {
        margin-left: 42px; 
        .menu__list-link {
            color: $Default;
            transition: all 0.3s;
            &:hover {
                color: $Hover;
            }
        }
        .menu-btn {
            background: $Primary;
            color: $Wrapper;
            border-radius: 6px;
            padding: 11px 31px;
            font-weight: 500;
            font-size: 18px;
            line-height: 18px;
            letter-spacing: -0.015em;
            &:hover {
                color: $Wrapper;
                background: $Hover;
            }
        }
    }
}
.main {
    background-color: transparent;
    width: 100%;
    height: 85.5vh;
    min-width: 0;
    position: relative;
}
.wrapper__slider {
    width: 100%;
    height: 100%;
    min-width: 0;
    position: relative;
    .item-1 {   
        height: calc(100vh - 96px);
        width: 500px;
        background-size: cover;
        background-position:center;
        background-repeat: no-repeat;
        background-image: url(../images/wrapper-1.png);
    }
    .item-2 {
        height: calc(100vh - 96px);
        width: 500px;
        background-size: cover;
        background-position:center;
        background-repeat: no-repeat;
        background-image: url(../images/wrapper-2.png);
    }
    .item-3 {
        height: calc(100vh - 96px);
        width: 500px;
        background-size: cover;
        background-position:center;
        background-repeat: no-repeat;
        background-image: url(../images/wrapper-3.png);
    }
}
.wrapper__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $Wrapper;
}
.wrapper-subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 72px;
    letter-spacing: -0.015em;
    margin-top: 60px;
}
.wrapper-title {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    margin: 70px 0;
    letter-spacing: -1.5%;
}
.weapper-description {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 50px;
    letter-spacing: -0.015em;
}


////////////////////////////////////

// _media.scss
@import "media";